/* HEADER */
.md-header {
    background:
        linear-gradient(
            rgba(15, 10, 8, 0.60),
            rgba(15, 10, 8, 0.85)
        ),
        url("../assets/images/header.jpg");

    background-size: cover;
    background-position: center;
}


/* PAGE BACKGROUND */
body {
    background:
        linear-gradient(
            rgba(10, 10, 10, 0.75),
            rgba(10, 10, 10, 0.75)
        ),
        url("../assets/images/background.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.md-main {
    background: transparent;
}

.md-content {
    background: transparent;
}

.md-content__inner {
    background: transparent;
}

[data-md-color-scheme="slate"] {
    --md-default-bg-color: transparent;
}